# Base ----------------------------------------
pandas==1.4.2
numpy>=1.18.5
pickleshare==0.7.5

# Machine learning ----------------------------
sklearn==0.0
seaborn==0.11.2
matplotlib==3.5.2

# Application ---------------------------------
streamlit==1.12.1