# Base ----------------------------------------
pandas==1.4.2
numpy>=1.18.5
pickle

# Machine learning ----------------------------
sklearn
matplotlib
seaborn
matplotlib

# Application ---------------------------------
streamlit
tabulate